<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/home/puja/Downloads/programs/web_dev/YelpCamp/app.css">
</head>
<body>
    <canvas id="canvas"></canvas>
    <canvas id="canvas-fg"></canvas>
<script src="/home/puja/Downloads/programs/web_dev/YelpCamp/design.js"></script></body>
</html>